.primary {
      color: rgb(20, 105, 91);
      /* font-family: 'Lato', sans-serif; */
      font-family: 'Brush Script MT', cursive;
      font-weight: bold;
      font-size: 7rem;
      text-align: center;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.timer {
      color: rgb(19, 88, 192);
      /* font-family: 'Lato', sans-serif; */
      font-family: 'Blippo';
      font-weight: bold;
      font-size: 2rem;
      /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}