.primary {
      color: rgb(138, 38, 38);
      /* font-family: 'Lato', sans-serif; */
      font-family: 'Brush Script MT', cursive;
      font-weight: bold;
      font-size: 8rem;
      text-align: center;
}